body {background-color: #ece9d8; color: #000000; font-family: Tahomaf; font-size: 10pt;
border: inherit;}

td.nav a:link, a:visited, a:active, a:hover { block; text-decoration: none; color: #000000}

.tablepad    { background-color:#74A4B4;padding:6px ;font-family:Tahoma; font-size: 11px}


td.row1	{
	color: #4E6883;
	background-color: #E0DDD4;
}

td.row2	{
	color: #4E6883  ;
	background-color: #F4F4F4;
}

.copyright
{
	font-size: 9px;
}
th
{
	color: #000000;
	background-color: #FFCC00;
}

legend
{
font-size : medium;
text-decoration : none;
color: #000000;
} 

.bitTitle {
 background-image: url('../style_images/titlebg.gif');
 font-weight: bold;
 color: #ffffbb;
}

.tableborder { border:1px solid #345487;background-color:#EEF2F7; padding:0; margin:0 }


.maintitle         { 

     color:#000000; 
     font-size: 16px; 
     font-weight: bold; 
     font-family:  Arial; 
                  } 

.okay {
	color: #00bb00;
}
